*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: all .5s ease-in-out;
}
body.active{
    background: #101010;

}
.toggle{
    height: 60px;
    width: 130px;
    background: #101010;
    border-radius: 50px;
    box-shadow: 10px 10px 34px rgba(0, 0, 0, 15);
    padding: 5px;
    display: flex;
    align-items: center;
}
.toggle.active{
    background: #efefef;
}
span{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #efefef;
    border-radius: 50%;
}
.toggle.active span{
    transform: translateX(70px);
    background: #101010;
}